body {
    background-color: #FAE8E0;
    color:#D8A7B1;
}

.navbar-inverse { 
    background-color: #D8A7B1
    
}

.footer { 
    background-color: #D8A7B1
}
.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

.social{
    text-align: center;

}
.social li{
    display: inline;
}

.social i{
    font-size: 160%;
    margin: 1%;
    padding: 1.5%;
    color: white;
}

.btn {
    color:#D8A7B1;
}

.contact {
    background: url(../images/aboutus-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
